.about{
  background: $white;

  @media screen and (min-width: 992px) and (max-width: 1599px) {
    width: 250px;
  }

  @media screen and (min-width: 1600px) and (max-width: 1899px) {
    width: 319px;
  }

  .profile-img {
    width: $profile-img-size;
    height: $profile-img-size;
    border-radius:50%;
    overflow:hidden;

    img {
      width: 100%;
      height: auto;
    }

  }

  .fixed-pos {

    @media (min-width: 992px){
      width:250px;
      min-height: 100%;
      position: fixed;
      top:0;
      left:0;
      overflow-y: auto;
      overflow-x: hidden;
    }

    @media (min-width: 1600px){
      width:319px;
    }

  }

  .wrapper {
    padding: 20px;
    padding-bottom:0;
    margin: 0;

    .wrapper-inner {
      border-bottom: 1px solid $gray;
      padding-bottom: 20px;
    }
  }

  h1 {
    margin: 0;
    padding: 15px 0;
  }

  h2 {
    font-size: 25px;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
  }

}

.contact-list {
  li {
    height: 40px;

    a {
    	height: 100%;
      	display: block;
      	font-size: 16px;
      	color: $dark-gray;
    }
  }
}
