.portfolio {
  display:flex;
  flex-wrap: wrap;
  align-content:stretch;

  li {
    flex-basis:25%;
    height: auto;
    padding: 10px;
    overflow: hidden;

    @media screen and (max-width: 580px) {
      flex-basis: 100%;
      padding: 10px 0;
    }

    @media screen and (min-width: 581px) and (max-width: 1199px) {
      flex-basis: 50%;
      padding: 5px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1599px) {
      flex-basis: 33.33333%;
    }

  }

  a {
    position: relative;
    width: 100%;
    display: block;
    color: $white;
    overflow: hidden;

    &:hover {
      color: $white;

      .overlay {
        opacity: 1;
      }
    }

    img {
      height:auto;
      width:100%;
    }

  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display:block;
    top:0;
    left:0;
    text-align: center;
    background: rgba($black, 0.8);
    opacity:0;
    transition: opacity 0.5s ease;

    @media screen and (max-width: 380px) {
      margin: 0;
    }

    @media screen and (min-width: 581px) and (max-width: 767px){
      margin: 0;
    }

    @media screen and (max-width: 1199px) {
      opacity: 1;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
      background: transparent;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }

    .overlay-text {
      display: inline-block;
      vertical-align: middle;
    }

  }

  h3 {
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1199px) {
      background: rgba(0,0,0,0.8);
      padding: 5px 10px;
    }

    @media screen and (max-width: 1599px){
      font-size: 20px;
    }

    @media screen and (min-width: 581px) and (max-width: 1199px){
      font-size: 18px;
    }

  }

  .showcase-cat {
    color: $gray2;
    text-align: right;
    display: block;

    @media screen and (max-width: 1199px) {
      background: rgba(0,0,0,0.8);
      padding: 5px 10px;
      display: inline-block;
      float: right;
      margin-top: 5px;
      font-size: 12px;
    }

  }

  .showcase-desc {
    display: none;
  }

}
