.share-list {
  position: absolute;
  bottom:0;
  right:0;
  margin-bottom: 59px;
  transform: translateY(300px);
  transition: transform 0.5s ease-in-out;
  z-index:1;

  li {
    width: 60px;
    height: 60px;

    a {
      width: 100%;
      height: 100%;
      display: block;
      border: 1px solid $gray;
      line-height: 60px;
      text-align: center;
      font-size: 20px;
      background: $light-gray;
      color: $dark-gray2;

      &:hover {
        text-decoration: none;
        background: $dark-gray;
        color: $light-gray;
        border-color: $dark-gray2;
      }

    }

  }

  .showcase-controlls  .right:hover & {
    transform: translateY(0);
  }

}
