.showcase-cover {
  display: none;
}

.showcase-active {

  @media screen and (max-width:1199px) {
    height: 100vh;
    overflow: hidden;
  }

  .showcase-cover {
    position: absolute;
    top:0;
    left:0;
    background: rgba($black, 0.6);
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .showcase-container {
    opacity: 1;
  }
}

.showcase-container {
  max-height: 730px;
  background: $dark-gray;
  padding: 75px;
  align-self: center;
  position: relative;
  opacity:0;
  transition: opacity 0.3s ease-in-out;

  @media screen and (min-width: 992px) and (max-width:1199px) {
    max-height: 100vh;
    align-self: stretch;
  }

  @media screen and (max-width:1199px) {
    height: 100%;
    padding: 50px 40px 40px 40px;
    overflow: scroll;
  }

  @media screen and (max-width:991px) {
    padding: 15px;
  }

  .showcase-wrapper {
    display: flex;

    @media screen and (min-width: 992px) and (max-width:1199px) {
      position: relative;
      min-height: 100%;
      flex-direction: column;
    }

    @media screen and (max-width:991px){
      padding: 36px 0 41px 0;
      flex-direction: column;
    }

  }

  button {
    background: transparent;
    color: #808285;
    font-size: 20px;

    &:hover {
      background: $white;
      color: $dark-gray2;
      border-color: $gray;
    }
  }

  .showcase-close {
    position: absolute;
    top:0;
    right: 0;
    border: 0;
    border-bottom: 1px solid $dark-gray2;
    border-left: 1px solid $dark-gray2;
    padding: 20px;

    @media screen and (max-width:1199px) {
      padding: 10px;
    }

    @media screen and (max-width:991px) {
      position: fixed;
      z-index: 9;
    }

  }

}

.showcase-controlls {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 50px;
  width: 300px;
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width:1199px) {
    margin: 0;
  }

  @media screen and (max-width:991px) {
    position: fixed;
    z-index: 9;
    width: 100%;
    background: $dark-gray;
    border-top: 1px solid $dark-gray2;
    justify-content: flex-end;
  }

  .right {
    float: right;
  }

  button {
    background: $dark-gray;
    border: 1px solid $dark-gray2;
    height: 60px;
    width: 60px;
    // position:relative;
    // float: left;
    display: block;
    color: #808285;
    z-index:2;

    @media screen and (max-width:991px) {
      border-top:0;
    }

    @media screen and (max-width:1199px) {
      width:50px;
      height: 50px;
    }

    &:not(.hide) + button {
      border-left:0;
    }
  }
}

.showcase-content {
  padding: 0 0 0 50px;
  color: $gray;
  max-width: 350px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 992px) and (max-width:1199px) {
    position: static;
  }

  @media screen and (max-width:1199px) {
    padding: 0;
    max-width: 100%;
  }

  h3 {
    padding: 0 0 20px 0;
    margin: 0;
    border-bottom: 1px solid $dark-gray2;

    @media screen and (min-width: 992px) and (max-width:1199px) {
      padding: 20px 0;
    }

    @media screen and (max-width:991px) {
      position: fixed;
      background: $dark-gray;
      top: 0;
      left: 0;
      padding: 10px 60px 10px 15px;
      font-size: 16px;
      line-height: 30px;
      width: 100%;
    }

  }

  .showcase-desc {
    padding: 20px 0;
    display: block;
    width: 100%;
  }

  .showcase-cat {
    border: 1px solid $dark-gray2;
    padding: 5px;
    color: #808285;
  }

  .overlay-text {
    @media screen and (min-width: 992px) and (max-width:1199px) {
      padding-bottom: 70px;
    }
  }

}

.showcase-item {
  img {
    max-width:100%;
    width: auto;
    height: auto;
    max-height: 570px;
    display:block;
  }
}
