.padding-top-20{
  padding-top: 20px;
}

.block{
  display: block;
}

.relative {
  position: relative;
}

button,
a {
  transition: all 0.5s ease;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.static--mobile {
  @media screen and (max-width: 991px) {
      position: static;
  }
}
