@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?93348497');
  src: url('../font/fontello.eot?93348497#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?93348497') format('woff2'),
       url('../font/fontello.woff?93348497') format('woff'),
       url('../font/fontello.ttf?93348497') format('truetype'),
       url('../font/fontello.svg?93348497#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-close:before { content: '\e800'; } /* '' */
.icon-linkedin-box:before { content: '\e801'; } /* '' */
.icon-behance-box:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-share:before { content: '\e804'; } /* '' */
.icon-next:before { content: '\e805'; } /* '' */
.icon-prev:before { content: '\e806'; } /* '' */
.icon-next-2:before { content: '\e807'; } /* '' */
.icon-prev-2:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
