@import 'variables';
@import 'icons';
@import 'helpers';

@import 'components/about';
@import 'components/portfolio';
@import 'components/showcase';
@import 'components/sharelist';

.content {
  background: $light-gray;

  @media screen and (min-width: 992px) and (max-width: 1599px) {
    width: calc(100vw - 250px - 20px);
    float:right;
  }

  @media screen and (min-width: 1600px) and (max-width: 1899px){
    width: calc(100vw - 319px);
    max-width: 100%;
    float:right;
  }

  h2 {
    font-size: 25px;

    @media screen and (max-width: 991px) {
      margin:0;
      padding: 10px 0 0;
    }

  }
}
